# Project exclude paths
/.gradle/
/Simple Banking System/task/build/
/Simple Banking System/task/out/
/Simple Banking System/task/out/production/classes/
/Topics/Command-line arguments/Theory/out/
/Topics/Command-line arguments/Theory/out/production/classes/
/Topics/Random/Theory/out/
/Topics/Random/Theory/out/production/classes/
/Topics/String/Extracting a substring/out/
/Topics/String/Extracting a substring/out/production/classes/
/Topics/The utility class Collections/Rotating table/out/
/Topics/The utility class Collections/Rotating table/out/production/classes/